body {
    margin: 0%;
    background-color: #F1FFFF;
    max-width: 100%;
    overflow-x: hidden;
}

.head {
    background-color: #D6FFFF;
    margin-bottom: 0%;
    padding: 10px;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.options {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 3px;
    justify-content: center;
}
 .options li  {
    padding: 3px;
    padding-left: 60px;
    text-align: center;
    border: 2px solid black;
    padding: 8px;
    margin: 15px;
    border-radius: 10px;
    user-select: none;
 }

 @media screen and (max-width: 500px) {
    .options {
        flex-direction: column;
        align-items: center;
    }

    .options li {
        width: 120px;
    }

    .silver-line{
        top: 86%;
    }

    .blue-line{
        top: 105%;
    }

    .orange-line{
        top: 103%;
    }

    .station_types {
        flex-direction: column;
        padding: 10%;
        
    }

}
@media screen and (max-height:750px) {
    .silver-line{
        top: 60%;
    }  
    
    .button-contain{
        margin-top: 80vh!important;
    }
    .orange-line{
        top: 76%;
    }
    .blue-line{
        top: 78.5%;
    }
    .four-ring{
        margin-top: 60px;
    }
    .add{
        margin-top: 80px;
    }
}

 ul li:hover {
    background-color: #8CA7A7;
    transition: 0.5s;
    cursor: pointer;
 }

i {
    margin: 3px;
}


.metro_img{
    height: 60px;
    margin-top: 2%;

}

.container {
    text-align: center;
    position: relative;
    border-bottom: 5px solid #344040;
}

.img-head {
    display: flex;
    justify-content: center
}

.container .wm {
    position: absolute;
    margin-right: 250px;
    color: black;
    font-size: 50px;
}

.container .ta {
    position: absolute;
    margin-left: 220px;
    color: black;
    font-size: 50px;

}
.info1{
   display: flex;
   flex-direction: row;
}


.text1_container{
    margin-right: 20px;
    word-wrap: break-word;
}

.text2_container {
    margin: 20px;
}

.text3_container{
    margin-right: 20px;
    margin-left: 30px;
}

.text1{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 70;
    font-style: normal;
    line-height: 30px;
    margin-right: 10px;
    margin-left: 10px;
}
.img1 {
    width: 50vh;
    height: 230px;
    border: 2px solid black;
    border-radius: 30px;
    margin-top: 10px;

}

.img2 {
    width: 45vh;
    height: 230px;
    border: 2px solid black;
    border-radius: 30px;
    margin: 10px;
    display: none;
}

.text2_container {
    margin-left: 20px;
}

.info2 {
    display: flex;
    margin-top: 30px;
    background-color: #ADCECE;
    height: 35vh;
    border-top: 8px solid #344040;
    border-bottom: 8px solid #344040;
}

.info3{
    display: flex;
    margin-right: 20px;
}

footer {
    background-color: #2B3333;
    color: #ADCECE;
    text-align: center;
    height: 15vh;
    position: static; 
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 18px;
    width: 100%;
    
    
}

footer a {
    color: #ADCECE;
    border-bottom: 1px solid #ADCECE;
    display: flex;
    justify-content: center;
    
}


h1 {
    text-align: center;
    border: 3px solid #147772;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    background-color: #98E1DD;
}

.body_archi {
    text-align: center;
    line-height: 30px;
    border-radius: 30px;
    margin: 15px;
}

.station_types {
    display: flex;
    justify-content: center;
}

.archi {
    border: 3px solid #8CA7A7;
    border-radius: 5px;
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 10px;
    background-color: #E7FFFF;
}

button:hover {
    background-color: #8CA7A7;
    transition: 0.5s ease;
}
.archi_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#station-img {
    width: 70%;
    height: 100%;
    border-radius: 20px;
    margin-top: 10px;
    display: none;
    -webkit-user-drag: none;
}

#station-info{
    font-size: 25px;
    text-align: center;
    line-height: 200%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #98E1DD;
    width: 100%;
    border-bottom: 2px solid #147772;
    border-top: 2px solid #147772;
}

#lines li {
    margin: 0%;
    border: none;
    transition: 0.5s;
    border-radius: none;
}

#lines{
    border-radius: 10px;
    margin-left: 135px;
    margin-right: 135px;
    margin-top: 20px;
    padding: 0px;
}

#lines li:hover{
    background-color: #D3D3D3;
    transition: 0.3s;
}

#lines li {
    font-size: 20px;
    border-top: 2px solid 	#D3D3D3;
    border-bottom: 2px solid 	#D3D3D3;
    border-radius: 0px;
}
 
#indicator {
    background: #000000;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 2.6%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
    display: none;
    transition: top 0.5s;
}

.lines:hover~#indicator {
    display: block;
}
 
.lines:nth-child(1):hover~#indicator {
    top: 2.6%;
}
 
.lines:nth-child(2):hover~#indicator {
    top: 19.2%;
}
 
.lines:nth-child(3):hover~#indicator {
    top: 35.8%;
}
 
.nav-links li:nth-child(4):hover~.active {
    top: 52.4%;
}
 
.nav-links li:nth-child(5):hover~.active {
    top: 69%;
}
 
.nav-links li:nth-child(6):hover~.active {
    top: 85.6%;
}

.line-colour button{
    margin-bottom: 40px; 
    padding: 20px;
    border-radius: 100%;
    border: none;
}

.line-view button:hover{
    background-color:#ADCECE;
    padding: 45px;
}

.line-view{
    margin-left: 60px;
}

.view-map {
    border: 1px solid black;
    height: 1.5em;
    width: 1.7em;
    position: absolute;
    right: 0;
    padding: 20px;
    margin-right: 9px;
    border-radius: 20px;
    cursor: pointer;
}

.view-map i:hover{
    animation: fa-beat 0.5s infinite;
}

.img-map{
    border-radius: 20px;
    max-width: 40vw;
}
.img-contain {
    all: initial;
    all: unset;
    border-radius: 20px;
    position: absolute;
    margin-left: -600px;
    border-radius: 20px;
    transition-duration: 0.5s;
    -webkit-user-drag: none;
    max-width: 300vw;
    margin-top: 90px;
}

.img-contain2 {
    all: initial;
    all: unset;
    border-radius: 20px;
    position: absolute;
    margin-left: -2000px;
    border-radius: 20px;
    transition-duration: 0.5s;
    -webkit-user-drag: none;
    max-width: 300vw;
    margin-top: 90px;
    transition-duration: 0.5s;
}

.accordion {
    width: 100%;
    border: 1px solid blue;
    border-radius: 5px;
}

.accordion-item {
    border-top: 1px solid #ddd;
}

.accordion-header {
    background: #f7f7f7;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
}

.accordion-header::after {
    content: '\25BC'; 
    position: absolute;
    right: 15px;
    transition: transform 0.3s ease;
}

.accordion-header.active::after {
    transform: rotate(-90deg); 
}

.accordion-body {
    display: none;
    padding: 15px;
    background: #fff;
    animation: fadein 0.5s;
}

.accordion-body img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.img-contain*{
    all: unset;
}

.line-colour {
    background-color: red;
    width: 21%;
    height: 100%;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.line-begin{
    background-color: red;
    width: 4%;
    position: absolute;
    height: 100%;
    z-index: -1;
}

.map-info{
    display: flex;
    align-items: center;
}

.prompt {
    font-size: 20px;
    font-weight: bold;
}

.line-text  {
    text-align: center;
    font-size: 30px;
    border: 2px solid #D3D3D3;
    padding: 30px;
    border-radius: 30px;
    width: 100%;
}

#stat-img {
    width: 90%;
    border-radius: 10px;
}

.station-predict {
    list-style-type: none;
    background-color: white;
    border: 2px solid #147772
}

.station-predict li {
    border-bottom: 2px solid #D3D3D3;
}

.station-predict li:hover{
    background-color: white;
}

#station-info {
    background-color: white;
}

.options #lines {
 border-left: 2px solid #D3D3D3;
 border-right: 2px solid #D3D3D3;
}

*{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
  }
  
  .readmoreContainer{
    max-width: 1200px;
    width: 90%;
    margin: 1rem auto;
  }
  
  .readmoreContainer  {
    margin-top:0;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  
  .read-more{
    background-color: transparent;
    border: 1px solid #7B7674;
    border-radius: 10px;
    padding: 10px;
    color: #7B7674;
    cursor: pointer;
    -webkit-transition: display .5s .2s ease-in;
    -o-transition: display .5s .2s ease-in;
    transition: display .5s .2s ease-in;
    display:none;
    
    
    
  }
  

  .text-openn {
    line-height: 200%;
    color: #7B7674;
  }
  .read-more:hover {
    font-weight: 550;  
  }
  
  .hide{
    display: none; 
    max-width: 100%;
    overflow:hidden;
  }

.hide-container {
    display: none;
}
  
  .read-less {
    background-color: transparent;
    border: transparent;
    padding: 5px;
    border-radius: 10px;
    color: #7B7674;
    cursor: pointer;

  }
  
  .read-less:hover{
      background-color:lightgray;
  }
  .read-less:hover {
    font-weight: 550;  
  }
  
  .readMoreOff {
      opacity:0;
  }
  
  .readMoreOn {
      opacity:1;
  }


.lines-rep{
    display: flex;
    justify-content: center;
    height: 100%;
   
}
.red-line{
    position: absolute;
    width: 250px;
    height: 350px;
    border: 20px solid red;
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 10px;
    margin-left: 80px;
    
}

.green-line{
    position: absolute;
    width: 350px;
    height: 250px;
    border: 20px solid green;  
    border-top: none;
    transform: rotate(90deg); 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 150px;
    margin-left: 310px;
   

}

.green-line.pseudo-active::before{
    position: absolute;
    bottom: 40%;
    left: -5.7%;
    content: "";
    height: 150px;
    border: 20px solid green;
    border-bottom: none;
    border-top: none;
    border-right: none;
}

.green-line.pseudo-hide::before {
    opacity: 0;
}

.green-line.pseudo-show::before {
    opacity: 1;
}

.red-line.pseudo-active::before{
    position: absolute;
    left: -7.8%;
    content: "";
    height: 100px;
    border: 20px solid red;
    border-bottom: none;
    border-top: none;
    border-right: none;
}

.red-line.pseudo-hide::before {
    opacity: 0;
}

.red-line.pseudo-show::before {
    opacity: 1;
}


.orange-line {
    position: absolute;
    width: 620px;
    height: 20px;
    background-color: orange;
    bottom: 38%;
}

.silver-line{
    position: absolute;
    width: 600px;
    height: 100px;
    border: 20px solid silver;
    border-right: none;  
    border-top: none;
    bottom: 40%;
}

.yellow-line{
    position: absolute;
    width: 250px;
    height: 250px;
    border:20px solid yellow;  
    border-top: none; 
    transform: rotate(270deg); 
    margin-top: 150px;
    border-bottom-left-radius: 20px;
    border-right: none;
    margin-right: 230px;
}


.blue-line {
    position: absolute;
    width: 550px;
    border: 20px solid blue;
    border-right: none;
    border-bottom: none;
    border-top-left-radius: 20px;
    height: 100px;
    margin-left: 50px ; 
    bottom: 24%;
}

.one-ring {
    position: absolute;
    border: 5px solid black;
    padding: 50px;
    height: 160px;
    top:56%;
    border-radius: 30px;
    border-style: dotted;
    display:none;
}

.two-ring {
    position: absolute;
    border: 5px solid black;
    padding: 150px;
    top:50%;
    width: 100px;
    height: 45px;
    margin-left: 100px;
    border-radius: 30px;
    border-style: dotted;
    display: none;
}

.three-ring{
    position: absolute;
    border: 5px solid black;
    padding: 220px;
    width: 80px;
    top:45%;
    margin-left: 100px;
    border-style: dotted;
    border-radius: 30px;
    display: none;
}

.four-ring {
    position: absolute;
    border: 5px solid black;
    border-style: dotted;
    padding:250px;
    width: 180px;
    top:37.5%;
    border-radius: 30px;
}

.add {
    position: absolute;
    right: 3%;
    top: 110%;
    cursor: pointer;
}

.option1 {
    position:absolute;
    transition: 0.3s;
    border-radius: 20px;
    padding: 20px;
    border:1px solid gainsboro;
    width: 90px;
  }
  
  .option2{
    position:absolute;
    transition: 0.3s;
    border:1px solid gainsboro;
    border-radius: 20px;
    background-color: none;
    border-radius: 20px;
    padding: 20px;
    width: 90px;
  }
  
  .option3 {
    position:absolute;
    transition: 0.3s;
    border:1px solid gainsboro;
    border-radius: 20px;
    padding: 20px;
    width: 90px;
  }
  
  .option4 {
    position:absolute;
    transition: 0.3s;
    border:1px solid gainsboro;
    background-color: none;
    border-radius: 20px;
    padding: 20px;
    width: 90px;
  }

  .button-contain {
    display: flex;
    align-items: center;
    margin-top: 65vh;
    margin-bottom: 20px;
    background-color:#CAD2D2;
    border-radius: 20px;
    width: 200px;
    height: 60px;
    margin-left: 40%;
   
}

.clickme {
    align-self: center;
    margin-bottom: 3.8em;
    margin-left: 8%;
}

.zone-info {
    display: flex;
    flex-wrap: wrap;
}


.zone1 {
    margin-left: 30px;
    background-color:#E6E6E6;
    padding: 20px;
    flex-grow: 1;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-right: 30px;
    position: relative;
}

.zone2 {
    margin-right: 30px;
    margin-left: 30px;
    background-color:#E6E6E6;
    flex-grow: 1;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
    position: relative;
}

.zone3 {
    margin-right: 30px;
    margin-left: 30px;
    background-color:#E6E6E6;
    flex-grow: 1;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
    position: relative;
    display: none;
}

h3 {
    text-align: center;
    cursor: pointer;
    border-bottom: 3px solid blue;
}

tr th {
    padding: 10px;
}

tr td {
    padding: 10px;
}

#opt {
    font-size: smaller;
}

.info5 {
    font-weight: 200;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: smaller;
    margin-top: 10px;
}

.result {
    background-color: #E6E6E6;
    border-radius: 20px;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.result .search {
    font-size: smaller;
    margin-top: 10px;
}

.btn-result {
    padding: 10px;
    width: 30%;
    margin-top: 10px;
    border-radius: 20px;
}

.x {
    position: absolute;
    right: 3%;
    top: 3%;
    cursor: pointer;
}

.line {
 background-color: lightblue;
 display: none;
 width: 4px;
 padding-bottom: 20px;
 position: relative;


 }

 .arrow {
    position: absolute;
    cursor: pointer;
 }


#fareResult{
color:#147772;
}
@media screen and (min-width: 750px) {
.text1 {
    width: 50vh;
    line-height: 60px;
    font-weight: 10;
    margin-right: 20px;
}

.line-view button {
    padding: 40px;
}

.line-colour {
    width: 30%;
}

}

@media screen and (min-width: 1000px){
.img2 {
    display: block;
}
.body_archi {
    font-size: 20px;
    line-height: 50px;
}

#station-img{
    height: 70%;
    width: 50%;
}

.archi {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 35px;
    padding-bottom: 35px;
}

#station-info {
    font-size: 30px;
}
}

@media screen and (max-width: 500px) {
.img1 {
    height: 20vh;
}

#lines li {
    border-top: none;
    border-bottom: none;
}

.options #lines {
    border-bottom: 2px solid #D3D3D3;
    border-top: 2px solid #D3D3D3;
    align-self: center;
}

.text1 {
    line-height: normal;
    width: 25vh;
    word-wrap: break-word;
}

.img2{
    width: 2vh;
    height: 20vh;
}

.station-predict li {
    font-size: 15px;
}

.line-view button:hover{
    padding: 30px;
}
}

